In [6]:
import pandas as pd
import sqlite3
from conection_sql_lite import*
from datetime import datetime, timedelta
import random

In [7]:
def generar_fecha_hora():
    fecha_inicio = datetime(2023, 1, 1)
    fecha_fin = datetime(2023, 12, 31)
    
    # Genera una fecha aleatoria dentro del rango de 2023
    fecha_hora = fecha_inicio + timedelta(days=random.randint(0, (fecha_fin - fecha_inicio).days))
    
    # Genera una hora aleatoria en formato HH:MM:SS
    hora = f"{random.randint(0, 23):02d}:{random.randint(0, 59):02d}:{random.randint(0, 59):02d}"
    
    # Combina la fecha y la hora
    return f"{fecha_hora.strftime('%Y-%m-%d')} {hora}"

# Ejemplo de uso
fecha_hora_aleatoria = generar_fecha_hora()
print(fecha_hora_aleatoria)

2023-06-06 04:31:49

In [ ]:
# Conectar a la base de datos SQLite
conn = sqlite3.connect('proyecto_icox.db')
cursor = conn.cursor()

# Realizar un INNER JOIN para enriquecer tabla1 con la información de tabla2
consulta = """
    SELECT fix_movil.*, prefijos_internacionales_iso.*
    FROM fix_movil
    LEFT JOIN prefijos_internacionales_iso ON fix_movil.id = prefijos_internacionales_iso.id
"""

# Ejecutar la consulta SQL
cursor.execute(consulta)

# Recuperar los resultados en un DataFrame (puedes usar pandas)
import pandas as pd
resultado = pd.read_sql_query(consulta, conn)

# Cerrar la conexión a la base de datos
conn.close()

# El resultado contendrá la tabla1 enriquecida con la información de tabla2
print(resultado)

In [2]:
import pandas as pd

# Define la función para encontrar la máxima coincidencia
def encontrar_maxima_coincidencia(lista1, lista2):
    diccionario_lista1 = {numero: None for numero in lista1}
    diccionario_lista2 = {numero: None for numero in lista2}
    coincidencias = {}
    
    for numero1 in diccionario_lista1:
        for i in range(1, len(numero1) + 1):
            subnumero1 = numero1[:-i]
            if subnumero1 in diccionario_lista2:
                coincidencias[(numero1, subnumero1)] = len(subnumero1)
                break
    
    if not coincidencias:
        return None  # No se encontraron coincidencias
    
    maxima_coincidencia = max(coincidencias, key=coincidencias.get)
    
    return maxima_coincidencia

# Crear un DataFrame de ejemplo
data = {'Columna1': ["1234567890", "12345", "1234", "567890", "111112222", "987654321"],
        'Columna2': ["123456", "123", "1234", "56789", "111112233", "9876"]}
df = pd.DataFrame(data)

# Aplicar la función a una columna específica del DataFrame
resultado = df['Columna1'].apply(lambda x: encontrar_maxima_coincidencia([x], df['Columna2']))
print(resultado)

0    (1234567890, 123456)
1           (12345, 1234)
2             (1234, 123)
3         (567890, 56789)
4                    None
5       (987654321, 9876)
Name: Columna1, dtype: object

In [6]:
import random
import pandas as pd
from datetime import datetime, timedelta
from functions import*

pais = pd.read_csv(r'/Users/aitorelordizamora/Documents/GitHub/telco/Notebook/Proyecto_ICOX_FIJA/reference paises iso/paises.csv', sep=',')
pais = pais[pais['phone_code'].notnull()]

# Genera un número de teléfono MOC con prefijo español y 9 dígitos adicionales
def generar_numero_moc_origen():
    
    prefijo_espanol = "+34"  # Prefijo español
    nueve_digitos = "".join([str(random.randint(0, 9)) for _ in range(9)])
    return f"{prefijo_espanol}{nueve_digitos}"

def generar_numero_moc_destino():
    prefijo_espanol = "+34"  # Prefijo español
    
    probabilidad_numeros_especiales = 0.25  # 25% de probabilidad de número especial
    if random.random() < probabilidad_numeros_especiales:
        numeros_especiales = ["1002","1003","1004","100", "123", "911", "0800", "555", "666", "777", "888", "999", "112", "113", "114", "115", "116", "117", "118", "119", "900", "901", "902", "903", "904", "905", "906", "907", "908", "909"]
        return random.choice(numeros_especiales)
    else:
        nueve_digitos = "".join([str(random.randint(0, 9)) for _ in range(9)])
        return f"{prefijo_espanol}{nueve_digitos}"
    
# Genera un número de teléfono aleatorio para MTC
def generar_numero_mtc():
    prefijo_espanol = "+34"
    probabilidad_numeros_especiales = 0.25  # 25% de probabilidad de número especial
    if random.random() < probabilidad_numeros_especiales:
        numeros_especiales = ["1002","1003","1004","100", "123", "911", "0800", "555", "666", "777", "888", "999", "112", "113", "114", "115", "116", "117", "118", "119", "900", "901", "902", "903", "904", "905", "906", "907", "908", "909"]
        return random.choice(numeros_especiales)
    
    else:
        nueve_digitos = "".join([str(random.randint(0, 9)) for _ in range(9)])
        return f"{prefijo_espanol}{nueve_digitos}"
    
    
    

# Genera una duración de llamada aleatoria en segundos
def generar_duracion_llamada():
    return random.randint(1, 3600)  # Duración entre 1 segundo y 1 hora

# Genera una fecha y hora aleatoria en los últimos 30 días
def generar_fecha_hora():
    fecha_inicio = datetime(2023, 1, 1)
    fecha_fin = datetime(2023, 12, 31)
    # Genera una fecha aleatoria dentro del rango de 2023
    fecha_hora = fecha_inicio + timedelta(days=random.randint(0, (fecha_fin - fecha_inicio).days))
    # Genera una hora aleatoria en formato HH:MM:SS
    hora = f"{random.randint(0, 23):02d}:{random.randint(0, 59):02d}:{random.randint(0, 59):02d}"
    
    # Combina la fecha y la hora
    return f"{fecha_hora.strftime('%Y-%m-%d')} {hora}"

# Crea un registro de CDR realista
def crear_registro_cdr():
    if random.random() < 0.6:
        origen = generar_numero_moc_origen()
        destino = generar_numero_mtc()
        tipo = "MOC"  # Llamada emitida
    else:
        origen = generar_numero_mtc()
        destino = generar_numero_moc_origen()
        tipo = "MTC"  # Llamada recibida
    
    duracion = generar_duracion_llamada()
    fecha_hora = generar_fecha_hora()
    
    return {"Origen": origen, "Destino": destino, "Duracion": duracion, "Fecha_Hora": fecha_hora, "Sentido": tipo}

# Genera un DataFrame con registros simulados de CDR
def generar_dataframe_cdrs(cantidad):
    cdrs = []
    
    for _ in range(cantidad):
        cdr = crear_registro_cdr()
        
        # Ajusta el número de llamadas durante el fin de semana (25% menos)
        dia_semana = datetime.strptime(cdr["Fecha_Hora"], "%Y-%m-%d %H:%M:%S").weekday()
        if dia_semana >= 5:  # Día de la semana 5 es sábado, 6 es domingo
            if random.random() < 0.25:  # 25% de probabilidad de omitir la llamada
                continue
        
        cdrs.append(cdr)
    
    return pd.DataFrame(cdrs)

# Ejemplo de generación de un DataFrame de CDRs
cantidad_registros = 100000
df_cdrs = generar_dataframe_cdrs(cantidad_registros)
df_cdrs['Minutos'] = (df_cdrs['Duracion']/60).round(2)

# Limpiar el signo "+" de las columnas "Telefono1" y "Telefono2"
df_cdrs["Origen_corregido"] = df_cdrs["Origen"].str.replace("+", "")
df_cdrs["Destino_corregido"] = df_cdrs["Destino"].str.replace("+", "")
df_cdrs['Max_coincidencia'] = ''
df_cdrs['nombre'] = ''
df_cdrs['name'] = ''
df_cdrs['nom'] = ''
df_cdrs['iso2'] = ''
df_cdrs['iso3'] = ''
df_cdrs['phone_code'] = ''
df_cdrs['Tipo evento'] = 'Nacional'

#df_cdrs['Max_coincidencia'] = df_cdrs['Destino_corregido'].apply(lambda x: encontrar_maxima_coincidencia(x, pais[' phone_code']))
#df_cdrs = df_cdrs.merge(pais, how='left', left_on='Max_coincidencia', right_on = ' phone_code')

In [7]:
df_cdrs

,Origen,Destino,Duracion,Fecha_Hora,Tipo,Minutos,Origen_corregido,Destino_corregido,Max_coincidencia,nombre,name,nom,iso2,iso3,phone_code,Tipo evento
0,+34390579167,901,3556,2023-01-15 07:37:40,MOC,59.27,34390579167,901,,,,,,,,Nacional
1,+34577553565,+34973904013,1701,2023-09-19 08:31:03,MTC,28.35,34577553565,34973904013,,,,,,,,Nacional
2,+34863814776,+34435494831,2952,2023-10-04 00:07:09,MOC,49.20,34863814776,34435494831,,,,,,,,Nacional
3,+34015028057,+34360408278,2164,2023-02-01 23:33:33,MTC,36.07,34015028057,34360408278,,,,,,,,Nacional
4,+34911665515,+34434004968,2689,2023-10-22 22:59:36,MTC,44.82,34911665515,34434004968,,,,,,,,Nacional
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92815,113,+34139915189,2208,2023-12-28 09:50:46,MTC,36.80,113,34139915189,,,,,,,,Nacional
92816,+34701113919,+34177660867,1721,2023-10-04 14:22:31,MOC,28.68,34701113919,34177660867,,,,,,,,Nacional
92817,+34391828434,+34323687215,1104,2023-08-06 12:44:02,MOC,18.40,34391828434,34323687215,,,,,,,,Nacional
92818,+34530544166,+34933816664,304,2023-06-12 05:44:22,MOC,5.07,34530544166,34933816664,,,,,,,,Nacional
92819,115,+34774621479,2570,2023-02-22 12:38:44,MTC,42.83,115,34774621479,,,,,,,,Nacional

In [23]:
pais[pais['nombre'] == 'España']

    nombre   name      nom  iso2  iso3  phone_code
63  España  Spain  Espagne    ES   ESP          34

In [1]:
import random
import pandas as pd
from datetime import datetime, timedelta
from functions import*

pais = pd.read_csv(r'/Users/aitorelordizamora/Documents/GitHub/telco/Notebook/Proyecto_ICOX_FIJA/reference paises iso/paises.csv', sep=',')
pais = pais[pais['phone_code'].notnull()]

# Genera un número de teléfono MOC con prefijo español y 9 dígitos adicionales
def generar_numero_moc_origen():
    
    prefijo_espanol = "+34"  # Prefijo español
    nueve_digitos = "".join([str(random.randint(0, 9)) for _ in range(9)])
    return f"{prefijo_espanol}{nueve_digitos}"

def generar_numero_moc_destino():
    return f"+{random.randint(1, 99)}{random.randint(100, 999)}{random.randint(1000, 9999)}"
    
# Genera un número de teléfono aleatorio para MTC
def generar_numero_mtc():
    prefijo_espanol = "+34"
    probabilidad_numeros_especiales = 0.25  # 25% de probabilidad de número especial
    if random.random() < probabilidad_numeros_especiales:
        numeros_especiales = ["1002","1003","1004","100", "123", "911", "0800", "555", "666", "777", "888", "999", "112", "113", "114", "115", "116", "117", "118", "119", "900", "901", "902", "903", "904", "905", "906", "907", "908", "909"]
        return random.choice(numeros_especiales)
    
    else:
        nueve_digitos = "".join([str(random.randint(0, 9)) for _ in range(9)])
        return f"{prefijo_espanol}{nueve_digitos}"
    
    
    

# Genera una duración de llamada aleatoria en segundos
def generar_duracion_llamada():
    return random.randint(1, 3600)  # Duración entre 1 segundo y 1 hora

# Genera una fecha y hora aleatoria en los últimos 30 días
def generar_fecha_hora():
    fecha_inicio = datetime(2023, 1, 1)
    fecha_fin = datetime(2023, 12, 31)
    # Genera una fecha aleatoria dentro del rango de 2023
    fecha_hora = fecha_inicio + timedelta(days=random.randint(0, (fecha_fin - fecha_inicio).days))
    # Genera una hora aleatoria en formato HH:MM:SS
    hora = f"{random.randint(0, 23):02d}:{random.randint(0, 59):02d}:{random.randint(0, 59):02d}"
    
    # Combina la fecha y la hora
    return f"{fecha_hora.strftime('%Y-%m-%d')} {hora}"

# Crea un registro de CDR realista
def crear_registro_cdr():
    if random.random() < 0.7:
        origen = generar_numero_moc_origen()
        destino = generar_numero_moc_destino()
        tipo = "MOC"  # Llamada emitida
    else:
        origen = generar_numero_moc_destino()
        destino = generar_numero_moc_origen()
        tipo = "MTC"  # Llamada recibida
    
    duracion = generar_duracion_llamada()
    fecha_hora = generar_fecha_hora()
    
    return {"Origen": origen, "Destino": destino, "Duracion": duracion, "Fecha_Hora": fecha_hora, "Tipo": tipo}

# Genera un DataFrame con registros simulados de CDR
def generar_dataframe_cdrs(cantidad):
    cdrs = []
    
    for _ in range(cantidad):
        cdr = crear_registro_cdr()
        
        # Ajusta el número de llamadas durante el fin de semana (25% menos)
        dia_semana = datetime.strptime(cdr["Fecha_Hora"], "%Y-%m-%d %H:%M:%S").weekday()
        if dia_semana >= 5:  # Día de la semana 5 es sábado, 6 es domingo
            if random.random() < 0.25:  # 25% de probabilidad de omitir la llamada
                continue
        
        cdrs.append(cdr)
    
    return pd.DataFrame(cdrs)

# Ejemplo de generación de un DataFrame de CDRs
cantidad_registros = 50000
df_cdrs_i = generar_dataframe_cdrs(cantidad_registros)
df_cdrs_i['Minutos'] = (df_cdrs_i['Duracion']/60).round(2)

# Limpiar el signo "+" de las columnas "Telefono1" y "Telefono2"
df_cdrs_i["Origen_corregido"] = df_cdrs_i["Origen"].str.replace("+", "")
df_cdrs_i["Destino_corregido"] = df_cdrs_i["Destino"].str.replace("+", "")

df_cdrs_i['Max_coincidencia'] = df_cdrs_i['Destino_corregido'].apply(lambda x: encontrar_maxima_coincidencia(x, pais['phone_code']))
df_cdrs_i = df_cdrs_i.merge(pais, how='left', left_on='Max_coincidencia', right_on = 'phone_code')

In [2]:
df_cdrs_i

,Origen,Destino,Duracion,Fecha_Hora,Tipo,Minutos,Origen_corregido,Destino_corregido,Max_coincidencia,nombre,name,nom,iso2,iso3,phone_code
0,+34813907412,+623525261,1107,2023-05-01 15:50:50,MOC,18.45,34813907412,623525261,62,Indonesia,Indonesia,Indonésie,ID,IDN,62
1,+34228094301,+178222950,1172,2023-02-23 06:20:42,MOC,19.53,34228094301,178222950,1,Canadá,Canada,Canada,CA,CAN,1
2,+34228094301,+178222950,1172,2023-02-23 06:20:42,MOC,19.53,34228094301,178222950,1,Estados Unidos de América,United States of America,États-Unis d'Amérique,US,USA,1
3,+34228094301,+178222950,1172,2023-02-23 06:20:42,MOC,19.53,34228094301,178222950,1,Puerto Rico,Puerto Rico,Porto Rico,PR,PRI,1
4,+366373067,+34789554066,811,2023-11-05 15:57:50,MTC,13.52,366373067,34789554066,34,España,Spain,Espagne,ES,ESP,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59866,+34068560666,+258362833,3373,2023-02-23 08:23:20,MOC,56.22,34068560666,258362833,258,Mozambique,Mozambique,Mozambique,MZ,MOZ,258
59867,+318797036,+34063406710,841,2023-04-07 06:09:29,MTC,14.02,318797036,34063406710,34,España,Spain,Espagne,ES,ESP,34
59868,+34646662324,+798923992,2252,2023-11-01 21:21:14,MOC,37.53,34646662324,798923992,7,Kazajistán,Kazakhstan,Le Kazakhstan,KZ,KAZ,7
59869,+34646662324,+798923992,2252,2023-11-01 21:21:14,MOC,37.53,34646662324,798923992,7,Rusia,Russia,La Russie,RU,RUS,7
59870,+137799822,+34451113369,911,2023-12-01 17:37:21,MTC,15.18,137799822,34451113369,34,España,Spain,Espagne,ES,ESP,34